<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="HireMate-Backend-TestSuite" verbose="2" parallel="tests" thread-count="3">
    <test name="Authentication-Register-Login-UnitTests">
        <classes>
            <class name="com.hiremate.testng.AuthServiceTestNGTest"/>
        </classes>
    </test>
    <test name="Job-Posting-Management-UnitTests">
        <classes>
            <class name="com.hiremate.testng.JobServiceTestNGTest"/>
        </classes>
    </test>
    <test name="Application-Pipeline-Management-UnitTests">
        <classes>
            <class name="com.hiremate.testng.ApplicationServiceTestNGTest"/>
        </classes>
    </test>
</suite>
